snippet lc "line comment"
/* ${1:} */
endsnippet

snippet funccom "function comment"
/**
 * ${1:Put your description here}
 *
 * @param[in]: ${2:}
 * @param[out]: ${3:}
 * @return: the result
 * - 0: success 
 * - non 0: failure
 * @note:
 */
endsnippet
