snippet texbegin "tex begin format"
\documentclass[a4paper,12pt]{article}
\usepackage{amsmath}
% no indent
\setlength\parindent{0pt}
\usepackage{graphicx} % to include figure

\begin{document}
\end{document}
endsnippet

snippet partial "partial"
% fi/fi x
\frac{\partial ${1:}}{\partial ${2:}}
endsnippet
